.note {
  height: 35px;
  width: 35px;
  border-radius: 30px;
  background-color:black;
  position: absolute;
  margin-left: 245px;
  /*margin-top: 35px;
  margin-top: 62.5px;*/
  margin-top: 255px;
}

.stem {
  height: 10vh;
  width: 0.75vh;
  float:right;
  background-color:black;
  border-radius: 10px;
}
.line {
  /*background-color: black;
  width: 20%;
  height: 0.5vh;
  margin-top:2%;
  display: block;
  margin-left: auto;
  margin-right: auto;*/
  background-color: black;
  width: 500px;
  height: 5px;
  margin-top:50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.staff {
  /*padding-top: 20%;
  padding-bottom: 5%;
  border: 0.1vh solid black;
  border-radius: 5px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2%;
  border: 0.1vh solid black;
  border-radius: 5px;*/
}

.btn p {
  text-align:center;
}

.display {
  margin: 0;
  margin-top: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2%;
  border: 0.1vh solid black;
  border-radius: 5px;
}