.topnav {
  background-color: whitesmoke;
  overflow:hidden;
  /*max-height: 75px;*/
  width:100%;
}

.rSidebar {
  float: right;
  width:10%;
}

/*
.banner {
  background-color: black;
  overflow:hidden;
  max-height: 500px;
  color:white;
}*/

.signature img{
  width:25%;
  height:25%;
  float:right;
  min-width:100px;
  min-height:50px;
}
.signature{
  float:right;
  align-items: right;
  margin-bottom:10px;
}
hr{
  width:100%;
}

.logo {/*
  margin: 1%;
  padding: 10px;
  float:left;
  width:25%;
  height:25%;
  min-width: 200px;
  min-height: 20px;
  max-height: 40px;
  /*width:20%; /* The width is 20%, by default */
  max-height:65px;
  padding:10px;
  /*padding:0px;*/
  float: left;


}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
  .left, .main, .right {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
.search{
  text-align: center;
}
h1{
  text-align: center;
}
body {
  font-family: 'Roboto Slab', serif;
}

.writingBody{
  text-align: center;
}
.caption {
  font-size: 75%
}
.writings {
  text-align: justify;
  margin-right:5%;
  margin-left: 5%;
}
blockquote{
  margin-right:10%;
  margin-left: 10%;
}

.slideCrop {
    float: center;
    width:  500px;
    height: 500px;
    object-fit: cover;
}



*{box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.menuBtn {
  /*font-size:30px;
  /*display: inline-block;*/
  cursor:pointer;
  float:right;
  /*padding: max(17px, 2%);*/
  padding: max(15px, 1px);
}

span:hover{
  background-color: rgb(230, 230, 230);
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

.topncontainer button:hover {
  background-color: rgb(26, 24, 24);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: rgb(32, 32, 32);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  margin-right: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.pane{
  width: 200px; /* width of container */
  height: 200px; /* height of container */
  overflow: hidden;
  border: 5px solid white;
  text-align: center;
  margin:auto;
  padding: 2%;
  
}

.pane:hover {
  opacity: 50%;
  width: 210px; /* width of container */
  height: 200px; /* height of container */
  color: rgb(245, 245, 245);
}

.banner {
    overflow:hidden;
    max-height: 500px;
    position: relative; 
    display: flex;
    justify-content:center;
    color:white;
    background-color:black;
    margin-top:10px;
}
.banner-text {
  position: relative;
  line-height: 1.15;
  align-content: center;
  margin-left: 1%;
  margin-right:1%;
}

.paneUpdate {
    overflow:hidden;
    max-height: 50%;
    /*max-width:50%;*/
    max-width:50%;
    position: relative; 
    display: flex;
    justify-content:flex-start;
    color:black;
    background-color:whitesmoke;
    margin-top:10px;
    margin:auto;
    text-decoration:none;
}
.pane img{
  float:left;
  margin-left:0px;
}
.paneUpdate:hover {
  opacity: 50%;
  /*width: 55%; 
  
  /* width of container */
  /*height: 51; /* height of container 
  color: rgb(245, 245, 245);*/
   background-color: rgb(230, 230, 230);
}
.writings{
    margin-left:20%;
    margin-right:20%;
    }
blockquote{
    margin-left:25%;
    margin-right:25%;
}
/*
.banner::before {    
      content: "";
      background-image: url('bnw.jpeg');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.5;
}
*/



@media screen and (max-width: 600px) {
  /*.paneUpdate p{
    display:none;
    }*/
  .paneUpdate:hover{
    background-color:black;
  }
  .paneUpdate:hover {
  opacity: 50%;
  width: 100%; /* width of container */
  /*height: 51; /* height of container */
  color: rgb(245, 245, 245);
  background-color:black;
}
  .paneUpdate {
    max-width: 100%; /* width of container */
    max-height: 100%; /* height of container /
    overflow: visible;*/
    border: 5px solid white;
    text-align: center;
    color:black;
    font-size: 5vw;
  }
  .writings{
    margin:2.5%;
    font-size:5vw;
    text-align:left;
    justify-content:flex-start;
    line-height: 1.5;
  }
  
  blockquote{
    margin-left:3.5%;
    margin-right:3.5%;
    font-size:4.75vw;
    line-height:1.45;
  }
  .banner-text {
  position: relative;
  line-height: 1.15;
  align-content: center;
  margin-left: 1%;
  margin-right:1%;
  font-size: 2.55vw;
  word-break: break-word;
  }
  .logo {
    max-width:150px;
    max-height:150px;
    margin-top:25px;
    padding:0px;
    margin-bottom:5%;
    margin-right:0px;
    margin-left:0px;
  }
  .menuBtn {
  margin-top:5%;
  padding:0px;
  margin-bottom:5%;
  margin-right:10px;
  margin-left:0px;
}
  /*
.banner {
    overflow:hidden;
    max-height: 500px;
    position: relative; 
    display: block;
    justify-content:none;
    margin: auto;
    width: 85%;
    border: 3px solid black;
    padding: 10px;
    color:black;
    background-color:white;
    margin-top:10px;
    align-items: center;
}
.banner img{
  margin: auto;
  width: 50%;
  padding: 10px;
  align-items:center;
}*/
}
